.label-input2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 200%;
  padding: 10px 50px 30px 10px;
}

#columnFilter, #comparison {
  background: rgb(31, 31, 31);
  border: none;
  border-bottom: 1px rgb(92, 91, 91) solid;
  color: white;
  line-height: 200%;
}

#valueFilter {
  background: rgb(31, 31, 31);
  border: 0.5px rgb(92, 91, 91) solid;
  border-radius: 5px;
  color: white;
  line-height: 200%;
  width: 50px;
}

#btn-filter {
  background: rgb(31, 31, 31);
  border: 0.5px yellow solid;
  border-radius: 5px;
  color: yellow;
  line-height: 200%;
  padding: 20px 10px;
}

.form {

  /* border: 2px red solid; */
  align-items: center;
  display: flex;
  height: 130px;
  justify-content: flex-start;
}
