table {
  border-collapse: collapse;
  text-align: justify;
}

thead {
  background-color: #131212;
  border-bottom: 0.5px rgb(39, 39, 39) solid;
  line-height: 200%;
  text-align: justify;
}

.table-item, .header-item {
  border: none;
  border-bottom: 0.5px rgb(92, 91, 91) solid;
  padding-inline: 10px;
}
