body {
  align-items: center;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.App {
  background: rgb(31, 31, 31);
  border: 2px black solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 20% auto;
  overflow: scroll;
  text-align: center;
  width: 900px;
}
